/* Reset and Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #F7F7F7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container */

.container {
    width: 100%;
    height: 100%;
}

/* Header */

.container .header {
    width: 100%;
    height: 10%;
    display: flex;
    padding: 0 30px;
}

.container .header .left-header {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container .header .left-header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container .header .left-header .logo a {
    color: #58B788;
    font-weight: bold;
    transition: all 0.3s ease;
}

.container .header .left-header .logo a:visited {
    color: #58B788;
}

.container .header .left-header .logo a:focus,
.container .header .left-header .logo a:hover {
    text-shadow: 0 0 2px #58B788;
}

.container .header .left-header .logo a:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.container .header .right-header {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.container .header .right-header .menu {
    display: flex;
    gap: 15px;
}

.container .header .right-header .menu a {
    color: #000000;
    font-weight: bold;
    padding: 7px 10px;
    border: 2px solid #58B78800;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.container .header .right-header .menu a:hover {
    box-shadow: 0 0 3px #58B788;
}

.container .header .right-header .menu a:hover,
.container .header .right-header .menu a:focus {
    color: #58B788;
    border: 2px solid #58B788;
}

.container .header .right-header .menu a:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.container .header .right-header .search {
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all ease 0.3s;
}

.container .header .right-header .search i {
    color: #000000;
    font-size: 20px;
    transition: all 0.3s ease;
}

.container .header .right-header .search:hover i,
.container .header .right-header .search:focus i {
    color: #58B788;
}

.container .header .right-header .search:hover i {
    text-shadow: 0 0 2px #58B788;
}

.container .header .right-header .search:active i {
    transform: scale(0.9);
    text-shadow: 0 0 2px #58B788;
    opacity: 0.8;
}

/* Main Content */

.container .main {
    width: 100%;
    height: 80%;
    display: flex;
}

/* Image Section */

.container .main .image-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main .image-section img {
    width: 80%;
}

/* Info Section */

.container .main .info-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .main .info-section .info {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #58B788;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.container .main .info-section .info p {
    color: #FFFFFF;
}

.container .main .info-section h1 {
    font-size: 35px;
    margin: 10px 0 18px 0;
}

.container .main .info-section p {
    color: #333333;
    font-size: 20px;
}

.container .main .info-section .buttons {
    display: flex;
    gap: 7px;
    margin-top: 10px;
    width: 70%;
    min-width: 500px;
}

.container .main .info-section .buttons a {
    width: 100%;
    padding: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #58B788;
    border: 2px solid #58B788;
}

#btn-home {
    color: #FFFFFF;
}

#btn-home:focus,
#btn-home:hover {
    color: #58B788;
    background: none;
    border-color: #58B788;
}

#btn-home:hover {
    box-shadow: 0 0 5px #58B788;
}

#btn-home:active {
    opacity: 0.8;
    transform: scale(0.97);
}

#btn-help {
    background: none;
    color: #58B788;
    border-color: #CCCCCC;
}

#btn-help:hover,
#btn-help:focus {
    border-color: #58B788;
}

#btn-help:hover {
    background-color: #58B7881F;
    box-shadow: 0 0 5px #58B788;
}

#btn-help:active {
    opacity: 0.9;
    transform: scale(0.97);
}

/* Footer */

.container .footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    padding: 0 30px;
}

.container .footer .social-connection {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .footer .social-connection p {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
}

.container .footer .social-connection .social-icons {
    display: flex;
    gap: 15px;
}

.container .footer .social-connection .social-icons .icon {
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFAFAF;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.container .footer .social-connection .social-icons .icon:hover {
    background-color: #58B7881F;
    box-shadow: 0 0 3px #58B788;
}

.container .footer .social-connection .social-icons .icon:hover,
.container .footer .social-connection .social-icons .icon:focus {
    color: #58B788;
    border: 2px solid #58B788;
}

.container .footer .social-connection .social-icons .icon:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.container .footer .social-connection .social-icons .icon.ig,
.container .footer .social-connection .social-icons .icon.wpp {
    font-size: 25px;
}

/* Responsiveness */

@media (max-width: 990px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .container .header {
        display: none;
    }

    .container .main {
        height: 85%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .container .main .image-section {
        display: none;
    }

    .container .main .info-section {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container .footer {
        height: 15%;
        padding: 0;
    }

    .container .footer .social-connection {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .container .footer .social-connection p {
        font-size: 18px;
    }
}
