/* Reset and Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #F0F2F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container */

.container {
    width: 100%;
    height: 100%;
}

/* Header */

.header {
    width: 100%;
    height: 10%;
    display: flex;
    padding: 0 30px;
}

.left-header {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.logo a {
    color: #333333;
    font-weight: bold;
    transition: all 0.3s ease;
}

.logo a:visited {
    color: #333333;
}

.logo a:focus,
.logo a:hover {
    color: #58B788;
}

.logo a:hover {
    text-shadow: 0 0 2px #58B788;
}

.logo a:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.right-header {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: #000000;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.menu a:hover,
.menu a:focus {
    color: #FFFFFF;
    background-color: #58B788;
}

.menu a:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.search {
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all ease 0.3s;
}

.search i {
    color: #000000;
    font-size: 20px;
    transition: all 0.3s ease;
}

.search:hover i,
.search:focus i {
    color: #58B788;
}

.search:hover i {
    text-shadow: 0 0 2px #58B788;
}

.search:active i {
    transform: scale(0.9);
    text-shadow: 0 0 2px #58B788;
    opacity: 0.8;
}

/* Main Content */

.main {
    width: 100%;
    height: 80%;
    display: flex;
}

.left-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    width: 80%;
}

.right-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section .info {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #58B788;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.right-section .info p {
    color: #FFFFFF;
}

.right-section h1 {
    font-size: 35px;
    margin: 10px 0 18px 0;
}

.right-section p {
    color: #4A4A4A;
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 7px;
    margin-top: 10px;
    padding: 0 200px 0 0;
}

.buttons a {
    width: 100%;
    padding: 7px;
    display: inline-block;
    padding: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #58B788;
    border: 2px solid #58B788;
}

#btn-home {
    color: #FFFFFF;
}

#btn-home:focus {
    color: #CCCCCC;
    border-color: #CCCCCC;
}

#btn-home:hover,
#btn-home:active {
    color: #FFFFFF;
    border-color: #58B788;
    box-shadow: 0 0 5px #58B788;
}

#btn-home:active {
    opacity: 0.9;
    transform: scale(0.97);
}

#btn-help {
    background: none;
    color: #58B788;
    border-color: #CCCCCC;
}

#btn-help:hover,
#btn-help:focus {
    border-color: #58B788;
}

#btn-help:hover {
    background-color: #58B7881F;
    box-shadow: 0 0 5px #58B788;
}

#btn-help:active {
    opacity: 0.9;
    transform: scale(0.97);
}

/* Footer */

.footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    padding: 0 30px;
}

.social-connection {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-connection p {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.icon {
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9CA39E;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.icon:hover {
    background-color: #58B78833;
    box-shadow: 0 0 3px #58B788;
}

.icon:hover,
.icon:focus {
    color: #58B788;
    border: 2px solid #58B788;
}

.icon:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.icon.ig,
.icon.wpp {
    font-size: 25px;
}