@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset and Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background-color: #F0F2F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container */

.container {
    width: 100%;
    height: 100%;
}

/* Header */

.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo a {
    color: #58B788;
    font-weight: bold;
    transition: all 0.3s ease;
}

.logo a:visited {
    color: #58B788;
}

.logo a:focus,
.logo a:hover {
    text-shadow: 0 0 2px #58B788;
}

.logo a:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.search-section {
    width: 50%;
    height: auto;
}

.search-bar {
    position: relative;
}

.placeholder-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #7B7B7B;
    font-size: 20px;
    transition: all 0.3s ease;
}

.search-bar:focus-within .placeholder-icon {
    color: #58B788;
    text-shadow: 0 0 3px rgba(88, 183, 136, 0.5);
}

.search-input {
    width: 100%;
    height: 5.8vh;
    padding: 10px 20px 10px 45px;
    background-color: #ECF0F1;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
}

.search-input::placeholder {
    color: #7B7B7B;
    transition: all 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-input:focus {
    border: 2px solid #58B788;
    box-shadow: 0 0 5px #58B78877;
}

.menu-section {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.menu-section button {
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #333333;
    transition: all 0.3s ease;
}

.menu-section .menu-button:focus,
.menu-section .menu-button:hover {
    color: #58B788;
}

.menu-section .menu-button:hover {
    text-shadow: 0 0 3px #58B78899;
}

.menu-section .menu-button:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.side-menu {
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.side-menu .menu-options {
    width: 100%;
    height: auto;
}

.side-menu .menu-options .option {
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    background: none;
    color: #333333;
    border-left: 5px solid #58B78800;
    transition: all 0.3s ease;
}

.side-menu .menu-options .option#selected {
    color: #000000;
    border-left: 5px solid #58B788;
    height: 40px;
    font-weight: bold;
}

.side-menu .menu-options .option:focus,
.side-menu .menu-options .option:hover {
    background-color: #58B788;
    color: #FFFFFF;
}

.side-menu .menu-options .option:active,
.side-menu .menu-options .option#selected:active {
    border-radius: 10px;
    opacity: 0.8;
    transform: scale(0.97);
}

.side-menu .menu-options .option i {
    width: 80px;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu #btn-create {
    margin-top: 10px;
    width: 75%;
    padding: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #58B788;
    border: 2px solid #58B788;
}

.side-menu #btn-create:focus {
    color: #58B788;
    background: none;
    border-color: #58B788;
}

.side-menu #btn-create:hover,
.side-menu #btn-create:active {
    color: #58B788;
    background: none;
    border-color: #58B788;
    box-shadow: 0 0 5px #58B788;
}

.side-menu #btn-create:active {
    opacity: 0.9;
    transform: scale(0.97);
}

.main-content {
    width: 80%;
    height: 100%;
    padding: 0 30px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner {
    background-color: #58B788;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 5px;
    border-radius: 7px;
    font-size: 16px;
    color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.banner a:focus,
.banner a:hover {
    color: #CCCCCC;
}

.banner a:active {
    opacity: 0.8;
    transform: scale(0.97);
}

.cards-section {
    display: flex;
    justify-content: space-around;
}

.cards-section .card {
    width: 22%;
    height: 90px;
    background-color: #ECF0F1;
    border: 2px solid #CCCCCC;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cards-section .card .card-left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-section .card .card-left .card-icon {
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cards-section .card#clients .card-left .card-icon {
    color: #FF6A00;
    background-color: #FF6A003F;
}

.cards-section .card#balance .card-left .card-icon {
    color: #00961E;
    background-color: #00961E3F;
}

.cards-section .card#sales .card-left .card-icon {
    color: #000796;
    background-color: #0007963F;
}

.cards-section .card#contacts .card-left .card-icon {
    color: #005FB2;
    background-color: #005FB23F;
}

.cards-section .card .card-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
} 

.cards-section .card .card-right p {
    font-size: 14px;
    color: #333333;
}

.cards-section .card .card-right h3 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}